<%- include('header', {here: 'genres'}) %>

<h1>Genres</h1>

<!-- <h5>Explore our vinyl database by genre</h5> -->

<div class="flex-container"> 

  <% if (genres) genres.forEach( (genre)=>{   %>
    <div>
      <a class="btn btn-outline-info" href="/genre?handle=<%= genre.genrehandle %>"><%= genre.genrename %></a>
    </div>
  <% }); %>

</div>

<%- include('footer') %>