<%- include('header', {here: 'genres'}) %>

<div class="nice">
  <h1>Genres</h1>
  <div class="flex-container"> 

    <% if (genres) genres.forEach( (genre)=>{   %>
      <div>
        <a class="btn btn-outline-info" href="/genre?handle=<%= genre.genrehandle %>"><%= genre.genrename %></a>
      </div>
    <% }); %>

  </div>
</div>

<%- include('footer') %>