<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic"> -->
</head>
<body>
  <nav class="demo">
    <a href="/" class="brand">
      <span>STACKSOFWAX</span>
    </a>
  
  
    <div class="menu">
      <% if (member) { %>
      <a class="button" href="/logout">logout</a> 
      <a class="button" href="/membersonly">members only</a> 
      <% } else { %>
      <a class="button" href="/login">login</a>
      <a class="button" href="/signup">sign up</a>
      <% } %>

    </div>
  </nav>