<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | STACKSofWAX</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic"> -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav >
    <a href="/" class="brand">
      <img src="stacksofwax logo v1e1.png" alt="STACKSofWAX" height="90">
    </a>
  
    <div class="menu my-menu">
      <a class="button" <% if (here == 'home') { %>style="font-weight: bold"<% } %> href="/vinyls">vinyls</a>
      <a class="button" <% if (here == 'jukeboxes') { %>style="font-weight: bold"<% } %> href="/jukeboxes">jukeboxes</a>
      <a class="button" <% if (here == 'collectors') { %>style="font-weight: bold"<% } %> href="/collectors">collectors</a>
      <% if (member) { %>
      <a class="button" <% if (here == 'me') { %>style="font-weight: bold"<% } %> href="/me">me</a> 
      <a class="button" href="/logout">logout</a> 
      <% } else { %>
      <a class="button" <% if (here == 'signup') { %>style="font-weight: bold"<% } %> href="/signup">sign up</a>
      <a class="button" <% if (here == 'login') { %>style="font-weight: bold"<% } %> href="/login">login</a>
      <% } %>

    </div>
  </nav>
  <div class="my-main">