<%- include('header', {here: 'home'}) %>

<h2>Vinyls</h2>

<h3>Vinyl is back, but please shelve, don't stack.</h3>

<div class="flex one two-600 three-800 four-1000"> 

  <% vinylsdata.forEach( (release)=>{   %>
    <div>
        <a class="button" href="/vinyl?id=<%= release.release_id %>"><%= release.releasename %></a>
    </div>
  <% }); %>

</div>

<%- include('footer') %>