<%- include('header', {here: 'jukeboxes'}) %>

<h2>Jukeboxes</h2>

<h5>Spread the wax! Vinyl long-long-playlists curated by our members.</h5>

<div class="flex-container"> 

  <% if (jukeboxesdata) jukeboxesdata.forEach( (jukebox)=>{   %>
    <div>
      <a class="btn btn-outline-info" href="/jukebox?id=<%= jukebox.jukebox_id %>"><%= jukebox.jukeboxname %></a>
    </div>
  <% }); %>

</div>

<%- include('footer') %>