<%- include('header') %>

<h2>Jukeboxes</h2>

<h3>Spread the wax! Vinyl long-long-playlists curated by our members.</h3>

<div class="flex one two-600 three-800 four-1000"> 

  <% jukeboxesdata.forEach( (jukebox)=>{   %>
    <div>
        <a class="button" href="/vinyl?id=<%= jukebox.jukebox_id %>"><%= jukebox.jukeboxname %></a>
    </div>
  <% }); %>

</div>

<%- include('footer') %>