<%- include('header', {here: 'login'}) %>

<h2>Welcome back</h2>

<form method="POST" action="/login">
  <label>
    <input name="username" type="text" placeholder="username">
    <input name="passwordraw" type="password" placeholder="password">
  </label>
  <button class='button'>Log in</button>
</form>

<%- include('footer') %>