<%- include('header', {here: 'signup'}) %>

<div class="nice">
  <h2>Join us!</h2>
</div>

<div class="nice">
  <form method="POST" action="/signup" onsubmit ="return verifyPassword()">
    <label>
      <input name="username" type="text" placeholder="Pick a funky username">
      <input id="p1" name="passwordraw1" type="password" placeholder="Craft a strong password">
      <input id="p2" name="passwordraw2" type="password" placeholder="Confirm your password">
    </label>
    <button class="btn btn-outline-light">Create account</button>
    <br/><p id="message" style="color: red"></p>
  </form>
</div>

<%- include('footer') %>



